@import '../../sass/base/main.scss';

.collapse {
    background-color: $color-tertiary;
    max-width: 1100px;
    min-height: 30px;
    cursor: pointer;
    z-index: 30;
    border-radius: 5px;
    max-width: 1223px;

    @include desktop {
            min-height: 50px;
    }
    &_content {
            height: 0;
            opacity: 0;
        }
    
        &.open {
            .collapse_content {
                height: auto;
                padding: 20px;
                background-color: $color-tertiary;
                color: $color-secondary;
                max-height: 300px;
                opacity: 1;
                line-height: 24px;
                transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
                border-radius: 5px;
            }
        }
    @include tablette {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    &_title {
        background-color: $color-secondary;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        color: $color-primary;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 20px;

        @include desktop {
            min-height: 30px;
        }
        .arrow {
        margin-top: 8px;
        max-height: 12px;
        transition: transform 0.5s ease-in-out;
        &.open {
                transform: rotate(180deg);
                margin-top: 8px;
            }
        }
    }
}
.accomodation-collapse {
    @include desktop {
        display: flex;
        justify-content: space-between;
        min-width: 580px;
        gap: 50px;
        margin-right: 100px;
        &_item {
            width: 100%;
            @include desktop {
                width: 100%;
            }
        }
    }
}
