@import "../../sass/main.scss";

.carrousel {
    width: 100%;
    height: 255px;
    display: flex;
    border-radius: 25px;
    background-size: cover;
    background-color: black;
    @include desktop {
        height: 415px;
    }
}